@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
} */

body {
  background-color: black;
  color: #fff;
}

section {
  height: 100vh;
  /* scroll-snap-align: center; */
}

.no-scroll {
  scroll-snap-align: none;
}

button {
  transition: all ease 0.3s;
}
