*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
}

.fullscreen__content-container {
  padding-left: 70px;
  width: 400px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-around;
  display: flex;
}

.fullscreen {
  min-width: 100%;
  min-height: 100vh;
  background-color: #010101;
}

.anim-wrapp {
  max-width: 100%;
  max-height: 100%;
}
.star i {
  position: absolute;
  background-color: violet;
  border-radius: 50%;
  border-radius: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px white,
    0 0 50px white;
  animation: starAnim 5s linear infinite;
  margin: 0;
  padding: 0;
  z-index: 0;
}

@keyframes starAnim {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
